@model Cms.Data.Model.FileContent

@{
    ViewBag.Title = "Delete";
}

@section PageBanner {
    <div>
        <h1>
            Delete File
        </h1>
    </div>
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedOn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "GdriveAdmin")" class="btn btn-default">Cancel</a> &nbsp;
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
